/*
 *= require store/spree_frontend
*/

div#product-size-chart table tbody th {
  text-align: left;
  padding-left: 10px;
}

div#product-size-chart table tbody td {
  text-align: center;
}

div#product-size-chart table tbody td, div#product-size-chart table tbody th {
  vertical-align: middle;
}